
@import './reset.css';

.parent {
  border: 2px #000 dotted;
  display: inline-block;
}

.box {
  display: inline-block;
  background-color: greenyellow;
  width: 100px;
  height: 100px;
}

#two {
  background-color: red;
  position: relative;
  top: 200px;
}